
body{
  margin: 0;
  padding: 0;
  background-color: #268EC0;
}

#section-id{
  width: 30%;
  height: 650px;
  background-color: pink;
  vertical-align: top;
  margin-left: 10px;

}
#form-class{
  width: 90%;
  height: 280px;
  background-color: grey;
  text-align: center;
  margin: 0 auto;
}
#input-id{
  width: 90%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: left;

}
#textArea-id{
  width: 90%;
  height: 180px;
  background-color: white;
  text-align: left;
}
#btnSave-id{
  width: 40%;
  height: 30px;
  background-color: blue;

}
#btnX-id{
  width: 40%;
  height: 30px;
  background-color: blue;
}
